body {
  font-family: 'Comic Sans MS';
  cursor: url('/assets/images/handPointing.png'), auto;
  margin: 0;
}

.maxbutton {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  width: 20em;
  height: 10em;
  border: 2px solid #03090a;
  border-radius: 4px 4px 4px 4px;
  background-color: #8466ff;
  box-shadow: 0px 0px 2px 0px #333333;
}
.maxbutton:hover {
  border-color: #0a0a0a;
  background-color: #b428ff;
  box-shadow: 0px 0px 2px 0px #333333;
}
.maxbutton .mb-text {
  color: #ffffff;
  font-family: Courier New;
  font-size: 2em;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;
  box-sizing: border-box;
  display: block;
  background-color: unset;
  position: relative;
  padding: 18px 0px 0px 0px;
}
.maxbutton:hover .mb-text {
  color: #0a0202;
}

marquee {
  background-image: url('/assets/images/marqueeBackgroundSmiley.png');
}

table {
  background-image: url('/assets/images/spacebackgroundblack.jpeg');
  background-repeat: repeat;
  width: 90rem;
  height: 31.25rem;
  margin: 0;
  padding: 0;
}

.dates {
  height: 200px;
  width: 26.56rem;
}

.video_row {
  height: 28.125rem;
}

iframe {
  width: 26.25rem;
  height: 19.688rem;
  display: block;
  margin: 0 auto;
}


td {
  width: 30rem;
}

.shortimage {
  height: 10.625rem;
}

.jesus {
  width: 25rem;
  display: block;
  margin: 0 auto;
}

.puzzle_row {
  height: 25rem;
  background-image: url('/assets/images/spacebackground.jpeg');
}

.i_remember {
  height: 3.125rem;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.get_tickets {
  width: 31.25rem;
  height: 3.125rem;
  background: black;
}

.photos-text {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(#a1ffa4, #ffa5a5, #a4f0ff);
}

.new-flier {
  width: 27rem;
  height: 35rem;
}

.middle-flier-button {
  display: inline-block;
  font-size: 24px;
  outline: none;
  border: 0px;
  padding: 8px 36px;
  border-radius: 30px;
  background: linear-gradient(180deg, #37E7FF 0%, #0047FF 50%, #46DEFF 100%);
  color: #fff;
  cursor:crosshair;
  position: relative;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .8), 0px 1px 0px rgba(255, 255, 255, .4);
}

button {
  background: black;
  height: 3.125rem;
  font-size: 2rem;
  border: 0.313rem solid yellow;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

button a {
  color: yellow;
}

.screening-green {
  background-color: limegreen;
  color: blue;
  font-size: 1.3rem;
}

.screening-red {
  color: red;
  background-color: black;
  font-size: 1.3rem; 
}

.no-desktop {
  display: none;
}

.episode {
  text-align: center;
  background: pink;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  text-shadow: 0 0 3px white;
}

.episode-green {
  background: lightgreen;
}

.episode-blue {
  background: lightblue;
}

.event-button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  width: 15em;
  height: 4.3em;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #0c0303;
  border-radius: 4px 4px 4px 4px;
  background-color: #66d8ff;
  box-shadow: 0px 0px 2px 0px #333333;
}
.event-button:hover {
  border-color: #0a0103;
  background-color: #89ff28;
  box-shadow: 0px 0px 2px 0px #333333;
}
.eventbutton .event-button-text {
  color: #4221ff;
  font-family: Tahoma;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
  display: block;
  background-color: unset;
  position: relative;
  padding: 5px 5px 5px 5px;
}
.event-button:hover .event-button-text {
  color: #3b560a;
}

.past-events {
  background-image: url('/assets/images/spacebackground.jpeg')
}

.envelope {
  height: 3em;
  filter: invert(1);
}

.insty {
  height: 2em;
  margin-bottom: .5em;
}

.contact {
  color: white;
}

.contact-us {
  margin-top: 2em;
}

@media screen and (max-width: 480px) {
  .no_phone {
    display: none;
  }

  .no-desktop {
    display: block;
    width: 25rem;
  }

  table {
    width: 27rem;
  }

  .bottom_table {
    width: 27rem;
  }

  iframe {
    width: 26rem;
    margin-top: 5rem;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Comic Sans MS';
  }

  tr {
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin: 0;
  }

  td {
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin: 0;
  }

  .top_marquee {
    width: 27rem;
    margin-left: 0;
  }

  .get_tickets {
    width: 27rem;
  }

  .maxbutton {
    margin-top: 12em;
    margin-left: 3em;
  }

  .event-button {
    font-size: 1em;
    margin-left: 6em;
    margin-top: 1em;
  }
}