body {
  font-family: 'Comic Sans MS';
  cursor: url('/assets/images/handPointing.png'), auto;
  margin: 0;
}

marquee {
  background-image: url('/assets/images/marqueeBackgroundSmiley.png');
}

table {
  background-image: url('/assets/images/dancingRaisin.gif');
  background-repeat: repeat;
  width: 90rem;
  height: 31.25rem;
  margin: 0;
  padding: 0;
}

.video_row {
  height: 28.125rem;
}

iframe {
  width: 26.25rem;
  height: 19.688rem;
  display: block;
  margin: 0 auto;
}


td {
  width: 30rem;
}

.shortimage {
  height: 10.625rem;
}

.jesus {
  width: 25rem;
  display: block;
  margin: 0 auto;
}

.puzzle_row {
  height: 25rem;
  background-image: url('/assets/images/puzzleBackground.gif');
}

.i_remember {
  height: 3.125rem;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.get_tickets {
  width: 31.25rem;
  height: 3.125rem;
  background: black;
}

button {
  background: black;
  height: 3.125rem;
  font-size: 2rem;
  border: 0.313rem solid yellow;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

button a {
  color: yellow;
}

.bottom_table {
  background-image: url('/assets/images/computerHacker.gif');
  width: 90rem;
  height: 21.875rem;
}

@media screen and (max-width: 480px) {
  .no_phone {
    display: none;
  }

  table {
    width: 27rem;
  }

  .bottom_table {
    width: 27rem;
  }

  iframe {
    width: 27rem;
    margin-top: 5rem;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  tr {
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin: 0;
  }

  td {
    display: flex;
    flex-direction: column;
    width: 27rem;
    margin: 0;
  }

  .top_marquee {
    width: 27rem;
    margin-left: 0;
  }

  .get_tickets {
    width: 27rem;
  }
}