body {
    background-image: url('/assets/images/ventriloquist.jpeg');
}

.coming-soon {
    height: 300px;
    margin-left: 375px;
    margin-top: 200px;
    background: linear-gradient(darkred, green);
}

@media screen and (max-width: 480px) {

    .coming-soon {
        margin-left: 0;
        margin-top: 50px;
        width: 45vw;
    }
}